@import '../../../scss/variables';

.header {
  height: 50px;
  width: 25%;
  border-bottom: solid 2px #181818;
  background-color: $color-background;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.delete_button {
  margin-right: 10px;
}