@import 'src/scss/variables';

.todos {
  color: $color-font;
  background-color: $color-background;
  margin-left: 2px;
  padding: 80px 50px 0;
  height: 100%;

  .title {
    margin-bottom: 10px;
  }

  .todo_info {
    display: flex;
    margin-bottom: 60px;

    .priority {
      &.priority_high {
        color: #f00;
      }

      &.priority_medium {
        color: #ff0;
      }

      &.priority_low {
        color: #0f0;
      }

      &.priority_none {
        color: $color-font;
      }
    }

    .due_date {
      margin-left: 30px;
    }
  }

  .updated_at {
    margin-bottom: 30px;
  }

}