@import 'src/scss/variables';

.todos {
  color: $color-font;
  background-color: $color-background;
  padding: 50px 50px 30px;

  .title {
    margin-bottom: 10px;
  }

  .todo_none {
    line-height: 1.5;
  }

  .todo_info {
    display: flex;
    margin-bottom: 60px;

    .priority {
      display: flex;

      .priority_high {
        color: #f00;
      }

      .priority_medium {
        color: #ff0;
      }

      .priority_low {
        color: #0f0;
      }

      .priority_none {
        color: $color-font;
      }
    }

    .due_date {
      display: flex;
      margin-left: 20px;
    }

    .ago {
      color: #f00;
    }

    .updated_at {
      display: flex;
      margin-left: 20px;
    }

    .icon {
      height: 100%;
      margin-right: 3px;
    }
  }

  .content {
    white-space: pre-wrap;
  }
}