@import 'src/scss/variables';

p {
  padding: 0;
  margin: 0;
}

.card {
  width: 100%;
  color: $color-font;
  margin-bottom: 2px;
  box-sizing: border-box;
  height: 85px;

  .contents {
    padding: 5px 10px;

    .title {
      margin: 5px 0 5px;
    }

    .content {
      font-size: 0.75em;
      margin-bottom: 8px;
      color: #bbb;
      height: 24px;
    }

    .date {
      font-size: 0.8em;
    }

    .ago {
      color: #f00;
    }
  }

  &.done {
    background-color: #222;
    color: #888
  }

  &.not_done {
    background-color: $color-background;
  }

  &.priority_high {
    border-left: solid #f00 5px;
  }

  &.priority_medium {
    border-left: solid #ff0 5px;
  }

  &.priority_low {
    border-left: solid #0f0 5px;
  }

  &.priority_none {
    padding-left: 5px;
  }

  &:hover {
    background-color: #444;
  }
}

