@import 'src/scss/variables';

.create {
  color: $color-font;
  background-color: $color-background;
  padding: 50px 50px 30px;

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .input {
    padding: 10px 12px;
    width: 100%;
    background-color: #333;
    color: $color-font;
    border: solid 1px #444;
    border-radius: 5px;
    box-sizing: border-box;

    &.normal {
      height: 40px;
    }

    &:focus {
      box-shadow: 0 0 5px #17a4f1;
      outline: none;
    }
  }

  .label {
    margin: 20px 0 5px;
  }

  .flex {
    display: flex;
    justify-content: flex-start;

    .title {
      width: 56%;
      margin-right: 2%;
    }

    .date {
      width: 20%;
      margin-right: 2%;
    }

    .priority {
      width: 20%;
    }

    .contents {
      width: 100%;
    }
  }

  .submit {
    color: $color-font;
    background-color: $color-background;
    border: solid 2px #4fff4f;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 1rem;
    font-weight: bold;

    &:hover {
      color: #333;
      background-color: #4fff4f;
      transition: all 0.3s ease;
    }

    &:focus {
      box-shadow: 0 0 10px #4fff4f;
      outline: none;
      transition: all 0.3s ease;
    }
  }
}